img {
    Width: 400px;
}

body {
    text-align: center;
    font-family: "arial";
}

.two {
    width: 300px;
    text-align: center;
}

.three {
    width: 300px;
    text-align: center;
}

.four {
    width: 300px;
    text-align: center
}